.search__input__box {
  width: 50%;
  height: 25px;
  border-radius: 12px;
  padding: 0 10px;
}

.search__button {
  margin-left: 10px;
  height: 30px;
  width: 70px;
  background: #70b5f9;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.movies__list {
  margin-top: 60px;
}

.movie__box__container {
  padding: 0 100px;
}

.movie__card {
  display: flex;
  width: 500px;
  background: lavenderblush;
}

.movie__poster {
  width: 200px;
  height: 250px;
  aspect-ratio: 16/9;
}

.movie__details__highlights {
  margin-left: 20px;
}
